.home {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #444444;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home ul {
  list-style-type: none;
  padding: 0;
}

.home li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.home li.completed {
  text-decoration: line-through;
  color: #afdbb0;
}

.home input[type='checkbox'] {
  margin-right: 0.5rem;
}

.home .new-todo input {
  flex-grow: 1;
  border: 2px solid #898484;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
}

.home .new-todo input:focus {
  outline: none;
  border-color: #ba9eba;
}

.home h3 {
  text-align: center;
  margin-bottom: 30px;
}
