.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 1rem;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* Ensures the navbar stays above other content */
    box-shadow: #222 2px 2px 2px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 1rem;
    background-color: #5a5858;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1;
    background-color: rgba(51, 51, 51, 0.95);
    /* Add slight transparency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
    min-width: 200px;
    /* Set a minimum width */
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    /* Prevent text from wrapping to multiple lines */
}

.dropdown div {
    padding: 0.5rem 1rem;
}

.dropdown a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Add hover effect */
}

.show-dropdown {
    display: block;
}

.main-content {
    margin-top: 4rem;
    /* Adjust this value based on the height of your navbar */
}


/* Add the arrow icon styles */
.profile-image-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    rotate: -90deg;
    margin-left: 0.5rem;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
    transition: all 0.3s ease-in-out;
}

.arrow-up {
    transform: rotate(180deg);
}